//- refenence: https://github.com/JXtreehouse/d3-components/blob/master/src/docs/layout.pug
block variables

- var locale = 'en'
- var version = '0.0.1'
- var appTitle = 'd3-barchart-gallery'
- var keywords = 'BarChart, Data visualization, D3.js, SVG'
- var description = ''

doctype html

html(id=pageID lang=locale)
  